#content .home {
    text-align: center;
    vertical-align: top;
}
.mensagem, .selecione-instituicao {
    border: 1px solid #14A79D;
    border-radius: 5px 5px 5px 5px;
    display: inline-block;
    margin-bottom: 20px;
    padding: 16px;
    text-align: left;
    vertical-align: top;
    width: 800px;
}
legend {
    color: #EE3322;
    font-size: 160%;
    font-weight: bold;
}
.mensagem legend, .selecione-instituicao legend {
    background-color: #19AEA4;
    background-position: center center;
    border-radius: 5px 5px 5px 5px;
    color: #FFFFFF;
    font-size: 14px;
    margin-bottom: 20px;
    margin-left: -10px;
    margin-top: -10px;
    padding: 5px 10px 7px;
    width: 100%;
}
.mensagem form, .selecione-instituicao form {
    display: block;
    margin: 0;
    padding: 0;
    width: 100%;
}
.mensagem form fieldset, .selecione-instituicao form fieldset {
    border: medium none;
    display: block;
    margin-bottom: 0;
    padding: 0;
    width: 100%;
}
.mensagem form div, .selecione-instituicao form div {
    margin-bottom: 0;
}
table.ultimos-eventos {
    margin: -10px;
    width: 820px;	
}
table.ultimos-eventos th {
	
}
table.ultimos-eventos th.titulo {
	
}
table.ultimos-eventos td {
	
}
table.ultimos-eventos td a {
	
}
table.ultimos-eventos td.ver-todos {
    text-align: right;	
}

table.ultimos-inscritos {
    margin: -10px;
    width: 820px;
}
table.ultimos-inscritos th {
}
table.ultimos-inscritos th.titulo {
}
table.ultimos-inscritos td {
}
table.ultimos-inscritos td a {
}
table.ultimos-inscritos td.ver-todos {
    text-align: right;
}